<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<welcome-file-list>
    <welcome-file>newshouye.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>userFilter</filter-name>
    <filter-class>Filter.UserFilter</filter-class>
    <init-param>
      <param-name>loginPage</param-name>
      <param-value>/Login.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>userFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> 
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/config/springMvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>yxglServlet</servlet-name>
    <servlet-class>Servlet.YxglServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yxglServlet</servlet-name>
    <url-pattern>/YxglServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryLuWen</servlet-name>
    <servlet-class>Servlet.LunWenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryLuWen</servlet-name>
    <url-pattern>/querylw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryZhuanLi</servlet-name>
    <servlet-class>Servlet.ZhuanLiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryZhuanLi</servlet-name>
    <url-pattern>/queryzl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goZhuanLi</servlet-name>
    <servlet-class>Servlet.ZhuanLiGoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goZhuanLi</servlet-name>
    <url-pattern>/gozl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryXueShuZhuZuo</servlet-name>
    <servlet-class>Servlet.XueShuZZServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryXueShuZhuZuo</servlet-name>
    <url-pattern>/queryxszz</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goXueShuZhuZuo</servlet-name>
    <servlet-class>Servlet.XueShuZZGoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goXueShuZhuZuo</servlet-name>
    <url-pattern>/goxszz</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryXueKeJianShe</servlet-name>
    <servlet-class>Servlet.XueKeJSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryXueKeJianShe</servlet-name>
    <url-pattern>/queryxkjs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryKeYanJiangLi</servlet-name>
    <servlet-class>Servlet.KeYanJLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryKeYanJiangLi</servlet-name>
    <url-pattern>/querykyjl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryKeYanXiangMu</servlet-name>
    <servlet-class>Servlet.KeYanXMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryKeYanXiangMu</servlet-name>
    <url-pattern>/querykyxm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryZhuanYe</servlet-name>
    <servlet-class>Servlet.ZhuanYeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryZhuanYe</servlet-name>
    <url-pattern>/queryzy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryJiaoXueMingShi</servlet-name>
    <servlet-class>Servlet.JiaoXueMingShiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryJiaoXueMingShi</servlet-name>
    <url-pattern>/queryjxms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryKeChengJianShe</servlet-name>
    <servlet-class>Servlet.KeChengJianSheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryKeChengJianShe</servlet-name>
    <url-pattern>/querykcjs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryJXYJXM</servlet-name>
    <servlet-class>Servlet.JXYJXMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryJXYJXM</servlet-name>
    <url-pattern>/queryjxyjxm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryShiYanShiJianShe</servlet-name>
    <servlet-class>Servlet.ShiYanShiJianSheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryShiYanShiJianShe</servlet-name>
    <url-pattern>/querysysjs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryJiaoCaiZhuZuo</servlet-name>
    <servlet-class>Servlet.JiaoCaiZhuZuoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryJiaoCaiZhuZuo</servlet-name>
    <url-pattern>/queryjczz</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryGeRenKeYan</servlet-name>
    <servlet-class>Servlet.GeRenKeYanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryGeRenKeYan</servlet-name>
    <url-pattern>/querygrky</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goXueKeJianShe</servlet-name>
    <servlet-class>Servlet.XueKeJSGoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Del</servlet-name>
    <servlet-class>Servlet.Del</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>goXueKeJianShe</servlet-name>
    <url-pattern>/goxkjs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Del</servlet-name>
    <url-pattern>/Del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gerenxinxi</servlet-name>
    <servlet-class>Servlet.GerenxxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gerenxinxi</servlet-name>
    <url-pattern>/CdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>grxx</servlet-name>
    <servlet-class>Servlet.GrxxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>grxx</servlet-name>
    <url-pattern>/grxx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cx</servlet-name>
    <servlet-class>Servlet.ChaXunServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>Servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PassServlet</servlet-name>
    <servlet-class>Servlet.PassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassServlet</servlet-name>
    <url-pattern>/PassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YGLMenu</servlet-name>
    <servlet-class>Servlet.YGLMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YGLMenu</servlet-name>
    <url-pattern>/yglmenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YGLScore</servlet-name>
    <servlet-class>Servlet.YGLScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YGLScore</servlet-name>
    <url-pattern>/yglscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YGLScoreEJ</servlet-name>
    <servlet-class>Servlet.YGLScoreEJServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMenuServlet</servlet-name>
    <servlet-class>Servlet.GetMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Menu0Servlet</servlet-name>
    <servlet-class>Servlet.Menu0Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YGLScoreEJ</servlet-name>
    <url-pattern>/yglscoreej</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cx</servlet-name>
    <url-pattern>/cx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMenuServlet</servlet-name>
    <url-pattern>/GetMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Menu0Servlet</servlet-name>
    <url-pattern>/Menu0Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexatyrls</servlet-name>
    <servlet-class>Servlet.ActrlsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexatyrls</servlet-name>
    <url-pattern>/atyrls</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>atvrelease</servlet-name>
    <servlet-class>Servlet.ReleaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>atvrelease</servlet-name>
    <url-pattern>/release</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>atvcancel</servlet-name>
    <servlet-class>Servlet.CancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>atvcancel</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>atvquery</servlet-name>
    <servlet-class>Servlet.QueryActivity</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMsgServlet</servlet-name>
    <servlet-class>Servlet.GetMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>atvquery</servlet-name>
    <url-pattern>/atvflagquery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMsgServlet</servlet-name>
    <url-pattern>/GetMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>clickhref</servlet-name>
    <servlet-class>Servlet.ClickHrefServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clickhref</servlet-name>
    <url-pattern>/ckhf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>qyacme</servlet-name>
    <servlet-class>Servlet.QueryAcMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadServlet</servlet-name>
    <servlet-class>Servlet.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qyacme</servlet-name>
    <url-pattern>/qacmessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadServlet</servlet-name>
    <url-pattern>/ReadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>activityproduction</servlet-name>
    <servlet-class>Servlet.ActivityProductionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activityproduction</servlet-name>
    <url-pattern>/aypn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryActivityDate</servlet-name>
    <servlet-class>Servlet.QueryActivityDateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangPwdServlet</servlet-name>
    <servlet-class>Servlet.ChangPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckPwdServlet</servlet-name>
    <servlet-class>Servlet.CheckPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryActivityDate</servlet-name>
    <url-pattern>/qyayde</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangPwdServlet</servlet-name>
    <url-pattern>/ChangPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckPwdServlet</servlet-name>
    <url-pattern>/CheckPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delexistdata</servlet-name>
    <servlet-class>Servlet.DelExistDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delexistdata</servlet-name>
    <url-pattern>/dletda</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>activityproductiontwo</servlet-name>
    <servlet-class>Servlet.AcProductionTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activityproductiontwo</servlet-name>
    <url-pattern>/yzcpd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryXiaoActivityDate</servlet-name>
    <servlet-class>Servlet.QueryXiaoActivityDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryXiaoActivityDate</servlet-name>
    <url-pattern>/xiaoqyayde</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoatvquery</servlet-name>
    <servlet-class>Servlet.QueryXiaoActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoatvquery</servlet-name>
    <url-pattern>/xiaoatvflagquery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoatvquerytwo</servlet-name>
    <servlet-class>Servlet.QueryXiaoActivityTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoatvquerytwo</servlet-name>
    <url-pattern>/xiaoatvflagquerytwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoatvrelease</servlet-name>
    <servlet-class>Servlet.XiaoReleaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoatvrelease</servlet-name>
    <url-pattern>/xiaorelease</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoatvreleasetwo</servlet-name>
    <servlet-class>Servlet.XiaoReleaseTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoatvreleasetwo</servlet-name>
    <url-pattern>/xiaoreleasetwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoatvcancel</servlet-name>
    <servlet-class>Servlet.XiaoCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoatvcancel</servlet-name>
    <url-pattern>/xiaocancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoatvcanceltwo</servlet-name>
    <servlet-class>Servlet.XiaoCancelTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoatvcanceltwo</servlet-name>
    <url-pattern>/xiaocanceltwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoclickhref</servlet-name>
    <servlet-class>Servlet.XiaoClickHrefServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoclickhref</servlet-name>
    <url-pattern>/xiaockhf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoindexatyrls</servlet-name>
    <servlet-class>Servlet.XiaoActrlsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoindexatyrls</servlet-name>
    <url-pattern>/xiaoatyrls</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoactivityproduction</servlet-name>
    <servlet-class>Servlet.XiaoActivityProductionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoactivityproduction</servlet-name>
    <url-pattern>/xiaoaypn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoactivityproductiontwo</servlet-name>
    <servlet-class>Servlet.XiaoAcProductionTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoactivityproductiontwo</servlet-name>
    <url-pattern>/xzcpd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaodelexistdata</servlet-name>
    <servlet-class>Servlet.XiaoDelExistDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaodelexistdata</servlet-name>
    <url-pattern>/xiaodletda</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>atvquerytwo</servlet-name>
    <servlet-class>Servlet.QueryActivityTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>atvquerytwo</servlet-name>
    <url-pattern>/atvflagquerytwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>atvreleasetwo</servlet-name>
    <servlet-class>Servlet.ReleaseTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>atvreleasetwo</servlet-name>
    <url-pattern>/releasetwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>atvcanceltwo</servlet-name>
    <servlet-class>Servlet.CancelTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>atvcanceltwo</servlet-name>
    <url-pattern>/canceltwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadusers</servlet-name>
    <servlet-class>Servlet.UploadUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>Servlet.GetUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadusers</servlet-name>
    <url-pattern>/uploadusers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserServlet</servlet-name>
    <url-pattern>/GetUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dcbb</servlet-name>
    <servlet-class>Servlet.HuoQuZACMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dcbb</servlet-name>
    <url-pattern>/dcbb</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>export</servlet-name>
    <servlet-class>Servlet.DaoChuBaoBiaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>export</servlet-name>
    <url-pattern>/export</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaodcbb</servlet-name>
    <servlet-class>Servlet.XHuoQuZACMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaodcbb</servlet-name>
    <url-pattern>/xiaodcbb</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryauthors</servlet-name>
    <servlet-class>Servlet.QueryAuthorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryauthors</servlet-name>
    <url-pattern>/queryauthors</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exportscore</servlet-name>
    <servlet-class>Servlet.DaoChuBaoBiaoScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportscore</servlet-name>
    <url-pattern>/exportscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exportsumscore</servlet-name>
    <servlet-class>Servlet.DaoChuBaoBiaoSumScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportsumscore</servlet-name>
    <url-pattern>/exportsumscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cxjs</servlet-name>
    <servlet-class>Servlet.ChaXunJSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cxjs</servlet-name>
    <url-pattern>/cxjs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryxiaoauthors</servlet-name>
    <servlet-class>Servlet.QueryXiaoAuthorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryxiaoauthors</servlet-name>
    <url-pattern>/queryxiaoauthors</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryxiaoauthorszc</servlet-name>
    <servlet-class>Servlet.QueryXiaoAuthorsZcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryxiaoauthorszc</servlet-name>
    <url-pattern>/queryxiaoauthorszc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoexport</servlet-name>
    <servlet-class>Servlet.XiaoDaoChuBaoBiaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoexport</servlet-name>
    <url-pattern>/xiaoexport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoexportzc</servlet-name>
    <servlet-class>Servlet.XiaoDaoChuBaoBiaoZcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoexportzc</servlet-name>
    <url-pattern>/xiaoexportzc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoexportscorezc</servlet-name>
    <servlet-class>Servlet.XiaoDaoChuBaoBiaoScoreZcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoexportscorezc</servlet-name>
    <url-pattern>/xiaoexportscorezc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiaoexportsumscorezc</servlet-name>
    <servlet-class>Servlet.XiaoDaoChuBaoBiaoSumScoreZcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaoexportsumscorezc</servlet-name>
    <url-pattern>/xiaoexportsumscorezc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>plmbdownload</servlet-name>
    <servlet-class>Servlet.PlmbDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>plmbdownload</servlet-name>
    <url-pattern>/plmbdownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BianJiUserServlet</servlet-name>
    <servlet-class>Servlet.BianJiUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BianJiUserServlet</servlet-name>
    <url-pattern>/BianJiUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Menu1Servlet</servlet-name>
    <servlet-class>Servlet.Menu1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu1Servlet</servlet-name>
    <url-pattern>/Menu1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YuanXiGuanLiServlet</servlet-name>
    <servlet-class>Servlet.YuanXiGuanLiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YuanXiGuanLiServlet</servlet-name>
    <url-pattern>/YuanXiGuanLiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertUserServlet</servlet-name>
    <servlet-class>Servlet.InsertUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserServlet</servlet-name>
    <url-pattern>/InsertUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>getusersname</servlet-name>
    <servlet-class>Servlet.GetUsersnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getusersname</servlet-name>
    <url-pattern>/getusersname</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>getadminusersname</servlet-name>
    <servlet-class>Servlet.GetAdminUsersnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getadminusersname</servlet-name>
    <url-pattern>/getadminusersname</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>getXiByYname</servlet-name>
    <servlet-class>Servlet.getXiByYname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getXiByYname</servlet-name>
    <url-pattern>/getXiByYname</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ygldatav</servlet-name>
  <servlet-class>Servlet.DataVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ygldatav</servlet-name>
  <url-pattern>/ygldatav</url-pattern>
  </servlet-mapping>
</web-app>